.container{
	border: thick;
	border: solid;
	width: 750px;
	height: 500px;
	margin-top: 10px; 
	padding-top: 10px;
	overflow: scroll;
}

.notes{
	border: thick;
	border: solid;
	width: 700px;
	height: 60px;
	margin: 20px;
	padding: 5px;
}